cheroot==11.0.0
defusedxml==0.7.1
jaraco.functools==4.3.0
Jinja2==3.1.6
json5==0.12.1
lxml==6.0.2
MarkupSafe==3.0.3
more-itertools==10.8.0
PyYAML==6.0.3
WsgiDAV==4.3.3
cheroot==11.0.0
defusedxml==0.7.1
jaraco.functools==4.3.0
Jinja2==3.1.6
json5==0.12.1
lxml==6.0.2
MarkupSafe==3.0.3
more-itertools==10.8.0
PyYAML==6.0.3
WsgiDAV==4.3.3
